.FooterCols{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 5em;
    width : 50%;
    background-color: rgb(250,250,251);
    &__FooterCol{
        display:flex;
        flex-direction: column;
        &__Heading{
            font-weight: bold;
        }
    }
}