.blueButton{
    border-radius: 0.625rem;
    background-color: rgb(96, 128, 244);
    width: 6.25rem;
    height: 2.5rem;
    border: 0rem;
    color : rgb(255,255,255);
    font-family: 'interMedium';
}
