@import '/src/public/scss/public.scss';

.blueButton {
    background-color: $orange;
    width: rem(107);
    height: rem(44);
    border: 0rem;
    border-radius: rem(10);
    color: $white;
    font-family: Pretendard-Medium;
    font-size: rem(16);
}
.blueButton:hover{
    cursor: pointer;
}