.blueButton{
    border-radius: 0.625rem;
    background-color: rgb(233,144,65);
    width: 6.25rem;
    height: 2.5rem;
    border: 0rem;
    color : rgb(255,255,255);
    font-family: Pretendard-Medium;
}
