@import '/src/public/scss/public.scss';

.whiteButton {
    background-color: rgb(247, 247, 247);
    width: rem(107);
    height: rem(44);
    border: 0rem;
    border-radius: rem(10);
    font-family: Pretendard-Medium;
    font-size: rem(16);
}

.whiteButton{
    cursor: pointer;
}