.jobHero {
    display: flex;
    height: 46.875rem;
    background-color: rgb(247, 247, 247);
    align-items: center;
    justify-content: center;
    .jobHero__description{
        z-index: 2;
        padding-right: 6em;
        transform: translate(-7rem, 0);
        .jobHero__description__title{
            font-family: 'NotoSansKRBold';
            font-size: 3.125rem;
            line-height: 4.375rem;
        }
        .jobHero__description__body {
            font-family: 'NotoSansKRMedium';
            font-size: 0.625rem;
            line-height: 1rem;
        }
    }

    .jobHero__img{
        height: 40rem;
        z-index: 1;
    }
}
