{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": 2020,
        "sourceType": "module",
        "project": "./tsconfig.json",
        "extraFileExtensions": [".html"]
    },
    "env": {
        "node": true,
        "es6": true,
        "jest": true
    },
    "plugins": [
        "react",
        "@typescript-eslint"
    ],
    "extends": [
        "airbnb",
        "airbnb/hooks",
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:import/errors",
        "plugin:import/warnings",
        "plugin:import/typescript"
    ],
    "rules": {
        "no-console": "warn",
        "indent": "off",
        "@typescript-eslint/indent": [
            "error",
            4
        ],
        "quotes": [
            "error",
            "single"
        ],
        "no-multiple-empty-lines": [
            "error",
            {
                "max": 1,
                "maxEOF": 0
            }
        ],
        "@typescript-eslint/no-inferrable-types": "off",
        "brace-style": [
            2,
            "stroustrup"
        ],
        "@typescript-eslint/brace-style": [
            2,
            "stroustrup"
        ],
        "@typescript-eslint/no-explicit-any": "error",
        "object-property-newline": [
            "error",
            {
                "allowAllPropertiesOnSameLine": true
            }
        ],
        "@typescript-eslint/typedef": [
            "error",
            {
                "parameter": true,
                "arrowParameter": true,
                "variableDeclaration": true,
                "memberVariableDeclaration": true,
                "propertyDeclaration": true,
                "arrayDestructuring": true,
                "objectDestructuring": true
            }
        ],
        "no-unused-vars": "off",
        "@typescript-eslint/no-unused-vars": [
            "warn",
            {
                "args": "none"
            }
        ],
        "@typescript-eslint/type-annotation-spacing": [
            "error",
            {
                "before": false,
                "after": true,
                "overrides": {
                    "arrow": {
                        "before": true,
                        "after": true
                    }
                }
            }
        ],
        "@typescript-eslint/consistent-type-definitions": [
            "error",
            "interface"
        ],
        "no-use-before-define": "off",
        "@typescript-eslint/no-use-before-define": [
            "error",
            {
                "enums": true,
                "typedefs": true,
                "ignoreTypeReferences": false
            }
        ],
        "no-constant-condition": "off",
        "max-len": "off",
        "import/prefer-default-export": "off",
        "import/extensions": [
            "off"
        ],
        "import/first": "off",
        "object-curly-newline": "off",
        "no-empty-function": "off",
        "@typescript-eslint/no-empty-function": "off",
        "import/no-unresolved": "off",
        "react/jsx-filename-extension": "off",
        "react/jsx-indent": [2, 4],
        "react/jsx-indent-props": [2, 4]
    }
}
