@import '/src/App.scss';

.hero {
    display: flex;
    padding : rem(30) 0;
    background-color: rgb(247, 247, 247);
    align-items: center;
    justify-content: center;
    gap: rem(150);
    flex-wrap: wrap-reverse;
    .hero__description {
        .hero__description__title {
            font-family: 'NotoSansKRBold';
            font-size: rem(50);
            line-height: rem(70);
            margin-bottom: rem(58);
        }
        
        .hero__description__body {
            font-family: 'NotoSansKRMedium';
            font-size: rem(20);
            line-height: rem(33);
        }
    }

    .hero__img {
        height: rem(500);
        width: rem(434);
    }
}
@media screen and (max-width: 1300px) {
    .hero{
        .hero__description{
            .hero__description__title{
                font-size:rem(45);
                line-height: rem(60);
                margin-bottom: rem(44);
            }
            .hero__description__body{
                font-size: rem(15);
                line-height: rem(20);
            }
        }
        .hero__img {
            height: rem(330);
            width: rem(280);
        }
    }   
}

@media screen and (max-width: 860px) {
    .hero{
        gap:0;
        display: flex;
        flex-direction: column-reverse;
        .hero__description{
            .hero__description__title{
                font-size:rem(30);
                line-height: rem(40);
                margin-bottom: rem(30);
            }
            .hero__description__body{
                font-size: rem(10);
                line-height: rem(15);
            }
        }
        .hero__img {
            height: rem(250);
            width: rem(217);
        }
    }   
}