@import '/src/public/scss/public.scss';

.hero {
    display: flex;
    height: rem(750);
    background-color: rgb(247, 247, 247);
    align-items: center;
    justify-content: center;
    gap : rem(180);
    .hero__description{
        .hero__description__title{
            font-family: 'NotoSansKRBold';
            font-size: rem(60);
            line-height: rem(80);
            margin-bottom: rem(58);
        }
        .hero__description__body {
            font-family: 'NotoSansKRMedium';
            font-size: rem(20);
            line-height: rem(33);
        }
    }

    .hero__img{
        height: rem(663);
        width : rem(576);
    }
}
