@import '/src/App.scss';
.accountSetting__pageDescription{
    font-size : rem(14);
    line-height: rem(24);
    margin-bottom: rem(32);
}
.accountSetting__profilePictureChange{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-bottom: rem(32);
    gap : rem(32);
    .accountSetting__profilePicture{
        width : rem(150);
        height: rem(150);
        border-radius: 50%;
    }
    .accountSetting__fileInput{
        display: none;
    }
    .accountSetting__fileButton{
        background-color: $orange;
        color : white;
    }
}
.accountSetting__body__wrapper{
    display: flex;
    flex-direction: column;
    width : 100%;
    .accountSetting__body__userInfo{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap : rem(8);
        margin-bottom: rem(32);
        .accountSetting__body__userInfo__tag{
            font-family: NotoSansKrBold;
            font-size : rem(18);
        }
        .accountSetting__body__userInfo__input{
            background-color: $gray;
            width : 100%;
            height: rem(44);
            font-size: rem(14);
            padding: 0 rem(14);
            border-radius: rem(10);
        }
        .accountSetting__body__userInfo__text{
            background-color: $gray;
            width : 100%;
            height: rem(300);
            padding: rem(14) rem(14);
            border-radius: rem(10);
            font-size: rem(14);
        }
        .accountSetting__body__userInfo__detail{
            font-size : rem(14);
        }
    }
}
.accountSetting__delete__description{
    font-size : rem(14);
    line-height: rem(24);
    margin-bottom: rem(32);
    div{
        text-align: center;
    }
}
.accountSetting__delete__body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap : rem(16);
    margin-top : rem(40);
    align-items: center;
    .accountSetting__delete__body__input{
        text-align: center;
        background-color: $gray;
        height: rem(44);
    }
}