.horizonLine {
    top: 50%;
    width: 61%;
    background-color: rgb(232, 232, 232);
    border: none;
    height: 1px;
}
.horizonLineDiv {
    display: flex;
    align-items: center;
    height: 80px;
}
