.filter {
    max-width: 1800px;
    display: flex;
    justify-content: space-between;
    margin : 24px 72px;
    gap: 10px;
}

@media screen and (max-width: 760px) {
    .filter{
        flex-wrap: wrap;
    }
}