@import '/src/App.scss';

.mypage {
    width: 61%;
    margin : 0 auto;

    .mypage__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        min-height: rem(300);
        padding: 0 0 rem(50) rem(40);
        .mypage__header__title {
            margin-top: rem(105);
            display: flex;  
            flex-direction: column;
            max-width : 60%;
            .mypage__header__title__name {
                font-size: rem(45);
                line-height: rem(80);
                gap : rem(30);
                font-family: NotoSansKRBold;
                display: flex;
                justify-content: flex-start;
                align-items: center;

                .mypage__header__title__name__icons {
                    display: flex;
                    gap : rem(8);
                    .mypage__header__title__name__iconBackGround.activated{
                        background-color: $blue;
                    }
                    .mypage__header__title__name__iconBackGround__clipboard{
                        position:absolute;
                        display: flex;
                        width:rem(150);
                        height:rem(50);
                        font-size : rem(15);    
                        background:$gray;
                        border-radius: rem(5);
                        margin-top :rem(-20);
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        white-space: nowrap;
                        vertical-align: middle;
                    }
                    .mypage__header__title__name__iconBackGround__clipboard:after {
                        position:absolute;
                        border-top:rem(0) solid transparent;
                        border-left: rem(10) solid transparent;
                        border-right: rem(10) solid transparent;
                        border-bottom: rem(10) solid $gray;
                        content:"";
                        top: rem(-10);
                        left: rem(15);
                    }
                    .mypage__header__title__name__iconBackGround {
                        position: relative;
                        top: 0;
                        width: rem(48);
                        height: rem(48);
                        background-color: $gray;
                        border-radius: 50%;

                        .mypage__header__title__name__icon {
                            position: absolute;
                            width: rem(16);
                            height: rem(16);
                            top : rem(16);
                            left : rem(16);
                        }
                        .mypage__header__title__name__icon.clipboard{
                            filter: invert(30%)
                        }
                        .mypage__header__title__name__icon.activated{
                            background-color: $blue;
                        }
                        .mypage__header__title__name__followIcon{
                            position: absolute;
                            width: rem(34);
                            height: rem(34);
                            top : rem(5);
                            left : rem(5);
                        }
                    }
                }
            }
            .mypage__header__title__sns{
                display: flex;
                flex-direction: row;
                margin-top: rem(32);
                gap : rem(8);
                .mypage__header__title__sns__link__icon{
                    width : rem(34);
                    height: rem(34);
                }
                .mypage__header__title__sns__link__icon.no_link{
                    width : rem(34);
                    height: rem(34);
                    filter: grayscale(100%)
                }
                .mypage__header__title__sns__link__icon.twitter{
                    margin: 0 5px;
                }
            }
            .mypage__header__title__email {
                font-size: rem(17);
                line-height: rem(28);
                margin-bottom: rem(32);
            }
            .mypage__header__title__description{
                flex-grow: 1;
            }
        }
        
        .mypage__header__graph {
            display: block;
            overflow:hidden;
            position: relative;
            margin-top: rem(40);
            width : rem(400);
            height: rem(420);
            ul{
                width : calc(100%*2);
                height: 400px;
                display: flex;
                transition: 1s;
                li{
                    width : calc(100%/2);
                    height:400px;
                }
            }
            input{
                display: none;
            }
            .bullet{
                position:absolute;
                bottom:20px;
                left:0;
                right:0;
                text-align:center;
                z-index:10;
                display: flex;
                flex-direction: row;
                gap : rem(15);
                justify-content: center;
                label{
                    width:12px;
                    height:12px;
                    border-radius:12px;
                    border:2px solid #666;
                    display:inline-block;
                    background:#fff;
                    font-size:0;
                    transition:0.5s;
                    cursor:pointer;
                }
            }
            #pos1:checked ~ ul{margin-left:0;}
            #pos2:checked ~ ul{margin-left:-100%;}
            /* bullet 조작 */
            #pos1:checked ~ .bullet label:nth-child(1),
            #pos2:checked ~ .bullet label:nth-child(2){background:#666;}

        }
    }
    .mypage__videoGrid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        justify-content: center;
        column-gap: rem(25);
        row-gap: rem(60);
        margin: rem(60) 0;
    }
    .mypage__videoGrid__firstUpload{
        display : flex;
        flex-direction: column;
        margin : rem(180) 0 rem(150) 0;
        align-items: center;
        .mypage__videoGrid__firstUpload__text{
            text-align: center;
            margin-bottom: rem(30);
            h2{
                font-size : rem(30);
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .mypage{
        width : 80%;
        .mypage__header{
            padding-right: rem(40);
            .mypage__header__graph{
                display : none;
            }
            .mypage__header__title{
                max-width : 100%;
                .mypage__header__title__name{
                    flex-direction: column;
                    align-items: flex-start;
                    gap : rem(8);
                    line-height: rem(60);
                    margin-bottom: rem(16);
                }
                .mypage__header__title__name__icons{
                    .mypage__header__title__name__iconBackGround{
                        .mypage__header__title__name__iconBackGround__clipboard{
                            margin-top : 0;
                        }
                    }
                }
            }
        }
    }
}