@import '/src/App.scss';

.mypage {
    width: 61%;
    margin : 0 auto;

    .mypage__header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        min-height: rem(300);
        padding: 0 0 rem(50) rem(40);
        .mypage__header__title {
            margin-top: rem(105);
            display: flex;
            flex-direction: column;
            flex-grow : 1;
            .mypage__header__title__name {
                font-size: rem(45);
                line-height: rem(80);
                gap : rem(30);
                font-family: NotoSansKRBold;
                display: flex;
                justify-content: flex-start;
                align-items: center;

                .mypage__header__title__name__icons {
                    display: flex;
                    gap : rem(8);
                    .mypage__header__title__name__iconBackGround.activated{
                        background-color: $blue;
                    }
                    .mypage__header__title__name__iconBackGround {
                        position: relative;
                        width: rem(48);
                        height: rem(48);
                        background-color: $gray;
                        border-radius: 50%;

                        .mypage__header__title__name__icon {
                            position: absolute;
                            width: rem(16);
                            height: rem(16);
                            top : rem(16);
                            left : rem(16);
                        }
                        .mypage__header__title__name__icon.activated{
                            background-color: $blue;
                        }
                        .mypage__header__title__name__followIcon{
                            position: absolute;
                            width: rem(34);
                            height: rem(34);
                            top : rem(5);
                            left : rem(5);
                        }
                    }
                }
            }
            .mypage__header__title__sns{
                display: flex;
                flex-direction: row;
                margin-top: rem(32);
                gap : rem(8);
                .mypage__header__title__sns__link__icon{
                    width : rem(34);
                    height: rem(34);
                }
                .mypage__header__title__sns__link__icon.no_link{
                    width : rem(34);
                    height: rem(34);
                    filter: grayscale(100%)
                }
            }
            .mypage__header__title__email {
                font-size: rem(17);
                line-height: rem(28);
                margin-bottom: rem(32);
            }
            .mypage__header__title__description{
                flex-grow: 1;
            }
        }
        
        .mypage__header__graph {
            margin-top: rem(40);
        }
    }
    .mypage__videoGrid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        justify-content: center;
        column-gap: rem(25);
        row-gap: rem(60);
        margin: rem(60) 0;
    }
    .mypage__videoGrid__firstUpload{
        display : flex;
        flex-direction: column;
        margin : rem(180) 0 rem(150) 0;
        align-items: center;
        .mypage__videoGrid__firstUpload__text{
            text-align: center;
            margin-bottom: rem(30);
            h2{
                font-size : rem(30);
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .mypage{
        width : 80%;
        .mypage__header{
            .mypage__header__graph{
                display : none;
            }
            .mypage__header__title{
                .mypage__header__title__name{
                    flex-direction: column;
                    align-items: flex-start;
                    gap : rem(8);
                    line-height: rem(60);
                    margin-bottom: rem(16);
                }
            }
        }
    }
}