@import '/src/public/scss/public.scss';
.video {
    position: relative;
    padding-top: 56.25%;
    margin-bottom: rem(20);
    .video__player{
        position:absolute;
        margin:0;
        top:0;
        left:0;
    }
    .video__img{
        position: absolute;
        border-radius: 10px;
        margin: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
.video__title {
    font-family: Pretendard-Bold;
    font-size: rem(15);
    line-height: rem(23);
}
.video__detail{
    font-family: NotoSansKRMedium;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    line-height: rem(23);
    font-size: rem(13);
    .video__uploader {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .video__uploader__name {
            color: #707070;
        }
        .vidoe__uploader__follow {
            display: flex;
            align-items: center;
            gap : rem(3);
            color: #6080f4;
            .video__uploader__follow__icon {
                
                width: rem(13);
                height: rem(13);
            }
        }
    }
    .video__detail__like {
        .video__detail__like__icon {
            vertical-align: middle;
            width: rem(13);
            height: rem(13);
        }
    }
}
