@import '/src/App.scss';

.video {
    position: relative;
    padding-top: 56.25%;
    margin-bottom: rem(10);

    .video__player {
        position: absolute;
        margin: 0;
        top: 0;
        left: 0;
    }
    
    .video__img {
        position: absolute;
        border-radius: 10px;
        margin: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
