.video{
    position: relative;
    padding-top: 56.25%;
    .video__player{
        border-radius: 20px;
        position:absolute;
        margin:0;
        top:0;
        left:0;
    }
    .video__img{
        border-radius: 20px;
        position: absolute;
        top:0;
        left:0;
        width : 100%;
        height: 100%;
        margin: 0;
    }
}
.video__title{
    font-family: Pretendard-Bold;
    line-height: 32px;
    font-size: 16px;
}
.video__detail{
    font-family: NotoSansMedium;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    line-height: 16px;
    font-size: 16px;
    .video__uploader{   
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .video__uploader__name{
            color:#707070;
            margin-right: 10px;
        }
        .vidoe__uploader__follow{
            color : #6080f4;
            .video__uploader__follow__icon{
                width:13px;
                height: 13px;
            }
        }
    }
    .video__detail__like{
        .video__detail__like__icon{
            width:13px;
            height: 13px;
        }
    }

}
