@import '/src/App.scss';
.introductionpage{
    width : 75%;
    margin : rem(48) auto;
    .landing__li__graphs{
        display: flex;
        gap : rem(40);
        img{
            width : rem(350);
        }
    }
    li{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        min-height: 50vh;
        img{
            width : rem(700);
        }
    }
    h2{
        font-size: rem(32);
        font-weight: bold;
        margin-block-start: rem(10);
        margin-block-end: rem(10);
        line-height: rem(50);
    }
    p{
        font-size : rem(16);
        line-height: rem(25);
        margin-block-start: rem(16);
        margin-block-end: rem(16);
        line-height: rem(20);
    }
    
}