@import '/src/public/scss/public.scss';

.FollowButton{
    cursor : pointer;
    background-color: transparent;
    border : 0;
    outline : 0;
    border-radius: 1.5vw;
    height: rem(48);
    padding: rem(16);
    background-color: $gray;
    .FollowButton__default{ 
        width : rem(16);
        height: rem(16);
    }
}
.FollowingButton{
    cursor : pointer;
    background-color: transparent;
    border : 0;
    outline : 0;
    border-radius: 1.5vw;
    height: rem(48);
    padding: rem(16);
    background-color: rgb(88, 126, 252);
    .FollowingButton__default{
        width : rem(16);
        height: rem(16);
    }
}
