.LargeVideoDescription {
    position: relative;
    width: 50%;
    left: 25%;
    font-size: 1em;
    top : 20px;
    .LargeVideoDescription__txt{
        font-family: "NotoSansKRMedium";
        color: rgb(32, 32, 32);
        line-height: 1.8;
    }
}
