@import '/src/App.scss';

.LargeVideoHeader {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 61%;
    height: rem(80);
    left: 19.5%;
    font-size: rem(16);
    padding-top: 2vh;

    .LargeVideoHeader__main {
        display: flex;
        align-items: center;

        .LargeVideoHeader__main__profileIcon {
            width: rem(50);
            height: rem(50);
        }
        .LargeVideoHeader__main__rest__title {
            font-weight: bold;
        }
    }

    .LargeVideoHeader__iconlist {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap : rem(8);
        .LargeVideoHeader_iconlist__icon__wrapper{
            background-color: $gray;
            height: rem(48);
            border-radius: 50%;
        }
        .LargeVideoHeader_iconlist__icon {
            padding : rem(16);
            width: rem(48);
            height: rem(48);
        }
    }
}
