.LargeVideoDescription{
    position: relative;
    width: 50%;
    left: 25%;
    font-size: 1em;
    top : 20px;
    .LargeVideoDescription__txt{
        font-family: "Noto Sans CJK KR";
        color: rgb(32, 32, 32);
        line-height: 1.8;
    }
    .LargeVideoDescription__tags{
        display: flex;
        flex-direction: row;
        gap : 8px;
        margin-top : 30px;
        .LargeVideoDescription__tag{
            color: rgb(112, 112, 112);
            background-color: rgb(247, 247, 247);
            font-family: Pretendard-Medium;
            font-size: 0.9em;
            line-height: 1.2em;
            padding : 4px
        }
    }
}
