.LargeVideoHeader {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 61%;
    height: 80px;
    left: 19.5%;
    font-size: 1em;
    padding-top: 2vh;

    .LargeVideoHeader__main {
        display: flex;
        align-items: center;

        .LargeVideoHeader__main__profileIcon {
            width: 50px;
            height: 50px;
        }
        .LargeVideoHeader__main__rest__title {
            font-weight: bold;
        }
    }

    .LargeVideoHeader__iconlist {
        display: flex;
        justify-content: space-around;
        align-items: center;
        .LargeVideoHeader_iconlist__icon {
            width: 3vw;
            height: 3vw;

            margin: 0.5vw;
        }
    }
}
