.likeButton{
    cursor : pointer;
    background-color: transparent;
    box-sizing: border-box;
    border : 0;
    outline : 0;
    background-color: rgb(247,247,247);
    padding : 0.85vw 1vw 0.85vw 1vw;
    border-radius: 1.5vw;
    .likeButton__img{
        margin-top : 0.2vw;
        width : 1.1vw;
        height: 1vw;
    }
}