@import '/src/App.scss';

.more-by-user {
    width: 61%;
    margin: 0 auto;
    .more-by-user__title{
        font-family: NotoSansKRBold;
        margin-bottom: rem(16);
        font-size: rem(16);
    }
    .more-by-user__video {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        justify-content: center;
        row-gap: rem(40);
        column-gap: rem(40);
    }
}
@media screen and (max-width: 1000px) {
    .more-by-user{
        width: 90%;
    }
}