@import '/src/App.scss';

.user-may-be-like {
    width: 61%;
    margin: 0 auto;
    .user-may-be-like__video {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        justify-content: center;
        row-gap: rem(40);
        column-gap: rem(40);
        padding-bottom: rem(40);
    }
    .user-may-be-like__title {
        font-family: NotoSansKRBold;
    }
}
