@import '/src/App.scss';

.user-may-be-like {
    width: 61%;
    margin: 0 auto;
    .user-may-be-like__title{
        margin-bottom: rem(16);
        font-size: rem(16);
        font-family: NotoSansKRBold;
    }
    .user-may-be-like__video {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        justify-content: center;
        row-gap: rem(40);
        column-gap: rem(40);
        padding-bottom: rem(40);
    }
}

@media screen and (max-width: 1000px) {
    .user-may-be-like{
        width: 90%;
    }
}
