@font-face {
    font-family: NotoSansKRMedium;
    src: url('./public/fonts/NotoSansKR-Medium.otf');
}
@font-face {
    font-family: NotoSansKRBold;
    src: url('./public/fonts/NotoSansKR-Bold.otf');
}
@font-face {
    font-family: Pretendard-Bold;
    src: url('./public/fonts/Pretendard-Bold.woff2');
}
@font-face {
    font-family: Pretendard-Medium;
    src: url('./public/fonts/Pretendard-Medium.woff2');
}
body {
    font-family: NotoSansKRMedium;
}
a {
  text-decoration: none;
  color: black;
}
iframe{
  border-radius: 10px;
}
