@font-face {
  font-family: interMedium;
  src: url('./fonts/Inter-Medium.ttf');
}
@font-face {
  font-family: interBold;
  src: url('./fonts/Inter-Bold.ttf');
}
@font-face {
  font-family: NotoSansKRMedium;
  src: url('./fonts/NotoSansKR-Medium.otf');
}
@font-face {
  font-family: NotoSansKRBold;
  src: url('./fonts/NotoSansKR-Bold.otf');
}
body{
  font-family: NotoSansKRMedium;
}
a {
  text-decoration: none;
  color: black;
}