@font-face {
    font-family: NotoSansKRMedium;
    src: url('./fonts/NotoSansKR-Medium.otf');
}
@font-face {
    font-family: NotoSansKRBold;
    src: url('./fonts/NotoSansKR-Bold.otf');
}
@font-face {
    font-family: Pretendard-Bold;
    src: url('./fonts/Pretendard-Bold.woff2');
}
@font-face {
    font-family: Pretendard-Medium;
    src: url('./fonts/Pretendard-Medium.woff2');
}

$blue: rgb(88, 126, 252);
$gray: rgb(247, 247, 247);
$white: rgb(255, 255, 255);
$orange: rgb(244, 160, 70);
$browser-context: 16;

@function rem($px, $content: $browser-context) {
    @return #{$px/$content}rem;
}