@import '/src/App.scss';

.footer {
    position: relative;
    background-color: $gray;
    height: rem(370);

    .footer__wrapper {
        display: flex;
        gap: rem(188);
        width: 100%;
        height: 100%;
        flex-direction: row;
        justify-content: start;
        padding-left: rem(50);
        padding-top: rem(50);
    }

    .footer__description {
        font-size: rem(13);
        line-height: rem(22);
        .footer__description__logo {
            width: rem(114);
            height: rem(44);
            margin-bottom: rem(40);
        }
    }

    .footer__sitemap {
        display: flex;
        justify-content: space-around;
        gap: rem(131);
        .footer__sitemap__column {
            display: flex;
            flex-direction: column;
            .footer__sitemap__column__heading {
                font-family: NotoSansKRBold;
                margin-bottom: rem(30);
                font-size: rem(15);
            }
            .footer__sitemap__column__link {
                font-family: Pretendard-Medium;
                line-height: rem(26);
                font-size: rem(13);
            }
        }
    }
    
    .right_reserved {
        position: absolute;
        bottom: rem(35);
        font-size: rem(12);
        font-family: Pretendard-Medium;
        color: rgb(70, 70, 70);
    }
}
