@import '/src/App.scss';

.footer {
    position: relative;
    background-color: $gray;
    .footer__wrapper {
        display: flex;
        flex-wrap: nowrap;
        gap: rem(188);
        width: 100%;
        height: 100%;
        flex-direction: row;
        justify-content: flex-start;
        padding : rem(50) rem(50) rem(100) rem(50);
    }

    .footer__description {
        font-size: rem(13);
        line-height: rem(22);
        .footer__description__logo {
            width: rem(114);
            height: rem(44);
            margin-bottom: rem(40);
        }
    }

    .footer__sitemap {
        display: flex;
        justify-content: space-around;
        gap: rem(131);
        flex-wrap: wrap;
        .footer__sitemap__column {
            display: flex;
            flex-direction: column;
            .footer__sitemap__column__heading {
                font-family: NotoSansKRBold;
                margin-bottom: rem(30);
                font-size: rem(15);
            }
            .footer__sitemap__column__link {
                font-family: Pretendard-Medium;
                line-height: rem(26);
                font-size: rem(13);
            }
        }
    }
    
    .right_reserved {
        position: absolute;
        bottom: rem(35);
        font-size: rem(12);
        font-family: Pretendard-Medium;
        color: rgb(70, 70, 70);
    }
}

@media screen and (max-width: 1200px) {
    .footer{
        .footer__wrapper{
            flex-direction: column;
            gap : rem(50);
            .footer__sitemap{
                justify-content: flex-start;
                gap: rem(50);
                .footer__sitemap__column{
                    width : 40%;
                }
            }
        }
    }
}