.footer{
    display: flex;
    position: relative;
    background-color: rgb(247, 247, 247);
    padding-left : 72px;
    height: 370px;
    margin: auto;
    justify-content:start;
    .footer__description{
        margin-top: 40px;
        width : 20%;
        font-size: 0.8rem;
        .footer__description__logo{
            width: 7.5rem;
            height: 3rem;
        }
    }
    .footer__sitemap{
        margin-top: 40px;
        display: flex;
        justify-content: space-around;
        width : 700px;
        .footer__sitemap__column{
            display:flex;
            flex-direction: column;
            .footer__sitemap__column__heading{
                font-family: NotoSansKRBold;
                margin-bottom: 1rem;
            }
            .footer__sitemap__column__link{
                font-family: Pretendard-Medium;
                line-height: 1.5rem;
                font-size: 0.8rem;
            }
        }
    }
    .right_reserved{
        position: absolute;
        bottom : 30px;
        font-family: Pretendard-Medium;
        color: rgb(70,70,70);
    }
}