@import '/src/App.scss';

.authForm {
    display: flex;
    height: 100vh;
    .authForm__img {
        background-color: $orange;
        width: rem(500);
        display: flex;
        align-items: center;
        img {
            width: 100%;
            filter: invert(40%);
        }
    }

    .authForm__main{
        width : rem(500);
        margin : auto;
        padding : 0 rem(50);
        .authForm__main__title{
            font-size: rem(30);
            line-height: rem(50);
            margin-bottom: rem(30);
        }
        .authForm__inputs{
            display: flex;
            flex-direction: column;
            width : 100%;
            gap : rem(15);
            align-items: center; 
            .authForm__input__button{
                border: 0rem;
                cursor: pointer;
                background-color: $orange;
                font-family: Pretendard-Medium;
                width : 100%;
                height : rem(44);
                font-size : rem(18);
                border-radius: rem(10);   
                align-items: center;
            }
            .authForm__agreement{
                font-size: rem(14);
                a{
                    cursor: pointer;
                }
            }
            .authForm__input{
                display: flex;
                flex-direction: column;
                width : 100%;
                .authForm__input__title{
                    font-size : rem(16);
                    margin-bottom: rem(8);
                }
                .authForm__input__field{
                    border: 1px solid rgb(150,150,150);
                    background-color: $white;
                    border-radius: 2px;
                    height: rem(40);   
                    padding-left: rem(8);
                }
                .authForm__input__field:focus{
                    border: none;
                    background-color: $white;
                    outline: none;
                    box-shadow: 0 0 0 2px $orange;
                }
            }
        }
    }
}
@media screen and (max-width: 1100px){
    .authForm{
        height: 100vh;
        .authForm__img{
            display: none;
        }
    }
}
