@import '/src/App.scss';


.AuthOverlayBox{
    position: fixed;
    top : 0;
    left : 0;
    right : 0;
    bottom : 0;
    overflow: scroll;
    background: rgba(30,30,30,0.9);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size : rem(16);
    .authOverlay__spinner{
        position: relative;
        width : 100%;
        height: 100%;
        background: rgba(30,30,30,0.9);
        z-index: 1001;
        .spinner{
            width : rem(80);
            height: rem(80);
            border-radius: 50%;
            margin: 40vh auto;
            font-size: 10px;
            position: relative;
            text-indent: -9999em;
            border-top: 1.1em solid rgba(255, 255, 255, 0.2);
            border-right: 1.1em solid rgba(255, 255, 255, 0.2);
            border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
            border-left: 1.1em solid #ffffff;
            -webkit-transform: translateZ(0);
            -ms-transform: translateZ(0);
            transform: translateZ(0);
            -webkit-animation: spinner 1.1s infinite linear;
            animation: spinner 1.1s infinite linear;
        }
        @-webkit-keyframes spinner {
            0% {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
            }
            100% {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }
        @keyframes spinner {
            0% {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
            }
            100% {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }
    }
    .AuthOverlay__close{
        position: absolute;
        right: rem(32);
        top : rem(24);
    }
    .AuthOverlay{   
        position: absolute;
        background: white;
        width : #{"min(520px, 80%)"};
        top : 5vh;
        .AuthOverlay__header{
            display: flex;
            flex-direction: column;
            align-items: center;
            background: linear-gradient(to left top, $orange, rgb(237,110,116));
            .AuthOverlay__header__title{
                text-align: center;
                margin-top : rem(16);
                margin-bottom: rem(32); 
                font-size : rem(16);
                height: rem(44);
                line-height: rem(44);
                border-bottom : 1px solid white;
                color : white;
                width : 65%;
            }
            .AuthOverlay__header__hero{
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                .AuthOverlay__header__hero__description{
                    color : #e5e5e5;
                    margin-top : rem(-50);
                    .AuthOverlay__header__hero__title{
                        font-family: 'NotoSansKRBold';
                        font-size: rem(20);
                        margin-bottom: rem(16);
                    }
                    .AuthOverlay__header__hero__body{
                        font-family: 'NotoSansKRMedium';
                        font-size: rem(16);
                    }
                }
                .AuthOverlay__header__hero__img{
                    width : 35%;
                    margin-left: rem(-150);
                    filter: invert(20%);
                }
            }
        }
        .authForm__main{
            margin : rem(50) 0 rem(30) 0;
            padding : 0 10%;
            .authForm__inputs{
                display: flex;
                flex-direction: column;
                gap : rem(15);
                align-items: center; 
            }
            .authForm__input{
                display: flex;
                flex-direction: column;
                width : 100%;
                .authForm__input__title{
                    font-size : rem(16);
                    margin-bottom: rem(8);
                    display: flex;
                    justify-content: space-between;
                    .authForm__input__title__find{
                        font-size: rem(12);
                        color: #4B89DC;
                    }
                }
                .authForm__input__field{
                    border: 1px solid rgb(150,150,150);
                    background-color: $white;
                    border-radius: 2px;
                    height: rem(40);   
                    padding-left: rem(8);
                }
                .authForm__input__field:focus{
                    border: none;
                    background-color: $white;
                    outline: none;
                    box-shadow: 0 0 0 2px $orange;
                }
            }
            .authForm__input__button{
                border: 0rem;
                cursor: pointer;
                background-color: $orange;
                font-family: Pretendard-Medium;
                width : 100%;
                height : rem(44);
                font-size : rem(18);
                border-radius: rem(10);   
            }
            .authForm__toSignup{
                cursor: pointer;
                width: 100%;
                font-size: rem(14);
            }
            .authform__hrLine{
                position: relative;
                height: 1px;
                width : 100%;
                color : #abb0b5;
                margin : 16px 0 ;
                background-color: #abb0b5;
                .authForm__hrLine__title{
                    position: absolute;
                    background-color: white;
                    text-align: center;
                    width : 30%;
                    left : 35%;
                    top : -10px;
                }
            }
            .authForm__googleLogin{
                cursor: pointer;
                width : rem(64);
                height: rem(64);
                background-color: rgb(248,248,248);
                box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
                padding : rem(20);
                border-radius: rem(10);
                .authForm__googleLogin__img{
                    width: 100%;
                    height: 100%;
                }
            }
            .authForm__agreement{
                font-size: rem(12);
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .AuthOverlayBox{
        width : 100vw;
        height: 100vh;
        .AuthOverlay{
            top : 0;
            width : 100%;
            height: 100%;
            overflow: scroll;
        }
    }
}