@import '/src/App.scss';
.findingId{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin : rem(200) auto;
    width  : rem(500);
    text-align : center;
    h2{
        font-size:rem(24);
        line-height: rem(44);
    }
    p{
        font-size: rem(15);
        line-height: rem(25);
    }
    input{
        border : 1px solid $gray;
        background-color: $gray;
        width : rem(400);
        height: rem(44);
        margin : rem(24) 0 rem(16) 0;
        padding : 0  rem(16);
        text-align: center;
    }
    button{
        margin-bottom: rem(16);
    }
}